<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your purchase in Winhalla</title>
</head>
<body style="font-family:Arial, sans-serif">
<p>Thanks for using winhalla! We will do as fast as we can to give you your ${amount}.</p>
<p>Since you ordered more than $10, we have to manually review your purchase to be sure you haven't cheated.</p>
<p>If you have used Winhalla normally, don't worry, your money will be given. This process is there to protect us from hackers</p>
<p>This process takes an average of 3 days, but it can take up to a week</p>
<p>We hope you'll understand</p>
<br>
<p>Good luck in Brawlhalla!</p>
<p>Winhalla</p>
</body>
</html>