<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8">
</head>

<body>
<h1>Thanks for purchasing {object} in the winhalla</h1>
<h2>To redeem your purchase, few steps:</h2>
<p>1. Go to <a href="https://steamcommunity.com/">Steam</a> and add the account Winhalla as a friend </p>
If it doesent work use the friend code 456891582 to add Winhalla as a friend
2. Wait until we gift you the purchase you made
3. Enjoy it

<h3>Note:</h3>
<h4>The time between this email and the gift is delivered take an average of one week, but can take up to a month</h4>
<h4>If you do not add Winhalla as a friend, we cannot give you your command</h4><br>
<h5>If you are in trouble (cannot add winhalla as a friend, your gift is not delivered...) please contact support at contact@winhalla.app</h5>
</body>

</html>